.list-container {
    padding: 0 15px;
    height: 100%;
    flex: 0 0 320px;
}

.list-container + div {
    border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.list-container header {
    height: 42px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-container header h2 {
    font-weight: 500;
    font-size: 16px;
    padding: 0 10px;
}

.list-container header button {
    height: 40px;
    width: 40px;
    border-radius: 18px;
    background: #3b5bfd;
    border: 0;
    cursor: pointer;
}

.list-container ul {
    margin-top: 30px;
}